<?xml version="1.0" encoding="UTF-8"?>

<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
        
        
      <http auto-config="true">
        	<intercept-url pattern="/" access="permitAll"/>
        	<intercept-url pattern="/listar-capacitaciones" access="hasAnyAuthority('ADMIN', 'CLIENTE')"/>
        	<intercept-url pattern="/crear-capacitacion" access="hasAnyAuthority('ADMIN', 'CLIENTE')"/>
        	<intercept-url pattern="/contacto" access="hasAnyAuthority('ADMIN', 'CLIENTE')"/>  
        	<intercept-url pattern="/listar-usuarios" access="hasAnyAuthority('ADMIN', 'ADMINISTRATIVO')"/>
        	<intercept-url pattern="/crear-usuario" access="hasAnyAuthority('ADMIN', 'ADMINISTRATIVO')"/> 
        	        	
        	<form-login login-page="/login"
        		authentication-failure-url="/error"
        		username-parameter="username"
        		password-parameter="password"/>
        	<csrf disabled="true"/>
        	<logout logout-success-url="/login"/>
       </http>
        
        <authentication-manager>
        	<authentication-provider>
        		<password-encoder hash="bcrypt"/>

				 <jdbc-user-service data-source-ref="ds"
        		 	users-by-username-query= "select nombre as username, password, 1 as enabled from usuarios where nombre = ?"
        		 	authorities-by-username-query="select nombre as username, rol as authority from usuarios where nombre = ?"
        		 />

        		<!--
        	    	<user-service>        		
        		    <user name="juan" authorities="ADMIN" password="$2a$10$XJ2CuzRhhqZvsDK7zeyK8eq4u3FkuEJOYTw6ab1E/kVVXU6ph6M1y"/>
        			<user name="awake" authorities="SUPERVISOR" password="$2a$10$XJ2CuzRhhqZvsDK7zeyK8eq4u3FkuEJOYTw6ab1E/kVVXU6ph6M1y"/>
        		    </user-service> 
        		-->

        	</authentication-provider>
        </authentication-manager>
 
 </bean:beans>